{% extends 'base.html' %}

{% block title %}QUICK MINDS QUIZ{% endblock %}

{% block content %}
	
	<!--get questions using quiz ID-->

	<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
		<form action = '/record_user_quiz_response' method="post" enctype = "multipart/form-data">
			<input type="hidden" id="quiz_id" name="quiz_id" value="">

			<div id="lower" class="grow py-3 px-3 rounded-t-lg">
				<div class="flex items-center justify-between">	
					<h1 id = "quiz_title" class="text-xl font-bold">Quiz</h1>

					<button id = "start_quiz_button" type="button" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
						Start Quiz
					</button>
					
				</div>

			    <div id="quiz_questions_page" class="mt-8">

			        <template id="quiz-question-template">
			        	<div class="p-4">
			            	<div class="quiz-question-list-box">
			              		<h1 id = "question_text" class="text-xl"> </h1>

			              		<fieldset>
						          <div class="mt-8 space-y-6">
						            <div class="flex items-center gap-x-3">
						              <input id="option_1" name="" type="radio" value = 1 class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
						              <label id = "option_1_label" for="option_1" class="block text-sm leading-6 text-gray-900"></label>
						            </div>
						            <div class="flex items-center gap-x-3">
						              <input id="option_2" name="" type="radio" value = 2 class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
						              <label id = "option_2_label" for="option_2" class="block text-sm leading-6 text-gray-900"></label>
						            </div>
						            <div class="flex items-center gap-x-3">
						              <input id="option_3" name="" type="radio" value = 3 class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
						              <label id = "option_3_label" for="option_3" class="block text-sm leading-6 text-gray-900">
						              	<p></p>
						              </label>
						            </div>
						            <div class="flex items-center gap-x-3">
						              <input id="option_4" name="" type="radio" value = 4 class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
						              <label id = "option_4_label" for="option_4" class="block text-sm leading-6 text-gray-900"></label>
						            </div>
						          </div>
						        </fieldset>

			            	</div>
		            	</div>
			          	<hr>
			        </template>

			    </div>
		    </div>

		    <div id = "buttons" class="hidden mt-6 flex items-center justify-end gap-x-6">
			    <button type="button" class="text-sm font-semibold leading-6 text-gray-900" onclick="goBack()">Cancel</button>
			    <button id = "quiz-submission-button" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
		  	</div>

		</form>
	</div>

	<script>
	    var quiz_questions_page = document.getElementById('quiz_questions_page');
		var offset = {{ quiz_questions|length }};
		var numToLoad = 10;
		const user_id = {{user_id}};
		const quiz_id = {{quiz_id}};
		var isLoading = false;  // Flag to track whether an AJAX request is in progress
	    var loadComplete = false; // All "For You" quizzes already loaded
	    var startQuiz = {{ start_quiz|default("false") | tojson | safe }};
	    
	    console.log("startQuiz");
	    console.log(startQuiz);

	    // Function to load more quizzes
	    function getQuizQuestions() {
	        if (loadComplete) {
	            return;
	        } 

	        // Check if an AJAX request is already in progress
	        if (isLoading) {
	            return;
	        }

	        // Set the isLoading flag to true
	        isLoading = true;
	        
	        // Determine the current section and its respective offset
	        var currentOffset = offset;

	        // Send an AJAX request to fetch more quizzes
	        
	        $.ajax({
	            type: 'POST',
	            url: '/get_quiz_questions',
	            data: { quiz_id: quiz_id, num_to_load: numToLoad, offset: currentOffset},
	            success: function (data) {

	            	document.getElementById('start_quiz_button').classList.add('hidden');
	            	document.getElementById('buttons').classList.remove('hidden');

	            	document.getElementById('quiz_title').innerText = data.quiz_details.title;
	            	document.getElementById("quiz_id").setAttribute("value", quiz_id);
                    if (data.quiz_questions.length < numToLoad) {
                        loadComplete = true;
                    }

                    data.quiz_questions.forEach(function (quiz_question) {
                    	
                    	console.log(quiz_question);

                        // Clone the template and populate it with data
                        var template = document.getElementById("quiz-question-template");
                        var clone = document.importNode(template.content, true);

                        // Create the URL with the quiz_id
						                        
                        clone.querySelector("#question_text").textContent = quiz_question.question_text;
                        clone.querySelector("#option_1_label").textContent = quiz_question.option_1;
                        clone.querySelector("#option_2_label").textContent = quiz_question.option_2;
                        clone.querySelector("#option_3_label").textContent = quiz_question.option_3;
                        clone.querySelector("#option_4_label").textContent = quiz_question.option_4;
                        clone.querySelector("#option_1").setAttribute("name", quiz_question.quiz_question_id);
                        clone.querySelector("#option_2").setAttribute("name", quiz_question.quiz_question_id);
                        clone.querySelector("#option_3").setAttribute("name", quiz_question.quiz_question_id);
                        clone.querySelector("#option_4").setAttribute("name", quiz_question.quiz_question_id);

                        // Append the populated template to the appropriate container
                        document.getElementById('quiz_questions_page').appendChild(clone);
                    });

                    // Update the offset for "For You"
                    offset += numToLoad;
                    isLoading = false;
	               
	            }
	        });
	        
	    }

	    document.getElementById("start_quiz_button").addEventListener('click', function(){
	    	getQuizQuestions();
	    });

	    if (startQuiz === "true"){
	    	getQuizQuestions();
	    }

	    function goBack() {
            window.history.back();
        }

	</script>

{% endblock %}