{% extends 'base.html' %}

{% block title %}QUICK MINDS - PROFILE PAGE{% endblock %}

{% block content %}
	<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
		<div id="lower" class="grow py-3 px-3 rounded-t-lg">
			<div class="sm:flex gap-4 items-center justify-between">
				<div class="flex gap-8 items-center">
					<img id = "profile_picture" src="" class="rounded-full h-20">
					<div>
						<h1 id = "user_name"></h1>
						<p id = "about" class="text-gray-500"></p>
						<p id = "joined_on" class="text-gray-500"></p>
						<div class="flex gap-4">
							<p id = "followers" class="font-semibold"></p>
							<p id = "following" class="font-semibold"></p>
						</div>
						<button 
							id = "user_follow" 
							data-user-id = "" 
							class="{%if user_id and user_id == target_user_id %} hidden {%endif%} mt-4 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
						>
						</button>
					</div>
				</div>
				<p id = "badge"></p>
			</div>

			<hr class="my-4">

			<div id = "section-buttons" class="flex flex-wrap gap-4 justify-between items-center">
		        <button id="questionButton">Questions</button>

		        <span
		          aria-hidden="true"
		          class="block h-4 w-px rounded-full bg-gray-900"
		        ></span>

		        <button id="responseButton">Responses</button>

		        <span
		          aria-hidden="true"
		          class="block h-4 w-px rounded-full bg-gray-900"
		        ></span>

		        <button id="articleButton">Articles</button>

		        <span
		          aria-hidden="true"
		          class="block h-4 w-px rounded-full bg-gray-900"
		        ></span>

		        <button id="tagButton">Tags</button>
		    </div>
		</div>

		<div>
			<div id = "question_section">
				<div id="questions_page">
			        <template id="question-template">
			        	<div class="p-4">
			        		<div class="flex items-start gap-4 items-center pb-2">
			        			<img
			        				id="user_profile_picture"
		                            alt="user_profile_picture"
		                            src= ""
		                            class="h-5 w-5 rounded-full object-cover"
		                        />
		                        <a id="user_profile_link" href="">
			              			<p id = "user_name" class="text-gray-500 font-bold hover:underline"></p>
		                        </a>
			              		<button id = "follow" data-user-id = "" class="text-blue-500"></button>
			              	</div>

				          	<a id="question_link" href="">
				            	<div class="question-list-box">
				              		<h1 id = "question_title" class="text-xl hover:underline"> </h1>

				              		<p id = "created_time" class="text-sm text-gray-500 mt-3"></p>

				              		<div class="flex items-start gap-4 mt-2">
				              			<p id = "vote_counter" class="text-gray-500 text-sm font-bold"></p>
				              			<p id = "response_counter" class="text-gray-500 text-sm font-bold"></p>
				              		</div>
				              		
				              		<div id = "question_tags" class="flex flex-wrap items-start gap-4 mt-3"> 

				              		</div>
				            	</div>
				          	</a>
			        	</div>
			        	
			          	<hr>
			        </template>
			    </div>

			    <div id = "more-similar-questions-div">
			    	<p id = "no-more-questions" class="hidden">No more questions by the user.</p>
					<button id = "load-more-questions-button" class="hidden mt-4 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Load more Questions</button>
				</div>
			</div>

			<div id = "response_section">
				<div id = "response-list">
				
					<template id="response-template">
						<a id = "question_link_for_response" href="">
							<h1 id = "question_title_for_response" class="mt-4 hover:underline text-gray-500"></h1>
						</a>

						<div id = "complete_repsonse_block" class="grid grid-cols-12 items-start gap-2 sm:gap-0" data-response-id = "">
							
							<div id = 'response-votes' class="py-4 col-span-1 align-center justify-center">
								<div class="flex mb-2 align-center justify-center">
									<button>
										<svg 
											id = "response_upvote_button"
											data-question-id = ""
											class="w-4 h-4 sm:w-6 sm:h-6 text-gray-800 hover:text-indigo-500" aria-hidden="true" 
											xmlns="http://www.w3.org/2000/svg" 
											fill="none" 
											viewBox="0 0 10 6"
										>
											<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
										</svg>
									</button>
								</div>
								
								<div class="flex align-center justify-center">
									<p id = "response_vote_counter" class="text-l font-bold"></p>
								</div>
				  				
								<div class="flex mt-2 align-center justify-center">
									<button>
										<svg 
											id = "response_downvote_button"
											data-question-id = ""
											class="w-4 h-4 sm:w-6 sm:h-6 text-gray-800 hover:text-indigo-500" aria-hidden="true" 
											xmlns="http://www.w3.org/2000/svg" 
											fill="none" 
											viewBox="0 0 10 6"
										>
											<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
										</svg>
									</button>	
								</div>
							</div>

							<div id = 'response-details' class="col-span-11 p-4">
								<div id = "response-and-user-metadata-div">
									<div id = "response-user-data" class="flex items-start gap-4 mb-2 items-center">
					              		<img
					        				id="user_profile_picture"
				                            alt="user_profile_picture"
				                            src= ""
				                            class="h-5 w-5 rounded-full object-cover"
				                        />
					              		<a id="user_profile_link" href="">
					              			<p id = "user_name" class="text-gray-500 font-bold hover:underline"></p>
				                        </a>
				              			<button id = "follow" data-user-id = "" class="text-blue-500"></button>
					              	</div>

					              	<p id = "created_time" class="text-sm text-gray-500 mb-3"></p>	
								</div>
			            			              		
			              		<div id = "response_text" class="sm:text-xl"> </div>

			              		<a id = "delete_response" href="" class="hidden">
			              			<button class="mt-4 border rounded-lg px-4 py-2 text-sm text-red-700 hover:bg-red-50">Delete Response</button>
			              		</a>
				              	
				              	<div id = "response-comment-div" class="hidden flex items-center justify-between mt-2">
				              		<div class="flex items-start gap-4 mt-2">
				              			<p id = "response_counter" class="text-gray-500 text-sm font-bold"></p>
				              		</div>
				              		<div class="flex items-end gap-4 mt-2">
				              			<button id = 'view_comment' class="text-gray-500 text-sm font-semibold">View comments</button>
				              			<button id = 'add_comment' class="text-gray-500 text-sm font-semibold">Add comment</button>
				              		</div>
				              	</div>
							</div>
						</div>

			          	<hr>
						
			        </template>

				</div>

				<div id = "more-response-div">
					<button id = "load-more-response-button" class="hidden mt-4 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Load more responses</button>

		        	<p id = "no-more-responses" class="hidden mt-4 text-sm font-semibold">No more responses available</p>
				</div>
			</div>

			<div id = "article_section">
				<div id="articles_page">
			        <template id="article-template">
			        	<div class="p-4">
			        		<div class="sm:flex items-start gap-4 items-center pb-2">
			        			<img
			        				id="user_profile_picture"
		                            alt="user_profile_picture"
		                            src= ""
		                            class="h-5 w-5 rounded-full object-cover"
		                        />
			              		<a id="user_profile_link" href="">
			              			<p id = "user_name" class="text-gray-500 font-bold hover:underline"></p>
		                        </a>
			              		<button id = "follow" data-user-id = "" class="text-blue-500"></button>
				              	<p id = "created_time" class="text-sm text-gray-500"></p>
			              	</div>

				          	<a id="article_link" href="">
				            	<div class="article-list-box">

				            		<div class="grid grid-cols-12">
					            		<div class="col-span-full sm:col-span-9">
						              		<h1 id = "article_title" class="text-xl font-bold hover:underline"> </h1>
						              		<p id = "article_description" class="mt-2"></p>
					            		</div>
				            			
				            			<div class="col-span-full sm:col-end-13 sm:col-span-2 flex items-center sm:justify-end">
				            				<img id = "article_thumbnail_image" src="" class="max-h-24 max-w-24 mt-4 sm:mt-0">
				            			</div>
				            		</div>
				              		
				              		<div id = "article_tags" class="flex flex-wrap items-start gap-4 mt-4"> </div>

				              		<div id = "votes_and_responses" class="flex items-start gap-4 mt-4">
				              			<p id = "vote_counter" class="text-gray-500 text-sm font-bold"></p>
				              			<p id = "response_counter" class="text-gray-500 text-sm font-bold"></p>
				              		</div>
				            	</div>
				          	</a>
			        	</div>
			        	
			          	<hr class="mt-4">
			        </template>
			    </div>

			     <div id = "more-articles-div">
			    	<p id = "no-more-articles" class="hidden">No more articles by the user.</p>
					<button id = "load-more-articles-button" class="hidden mt-4 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Load more Articles</button>
				</div>
			</div>

			<div id = "tag_section">
				<div id="tags_page" class="grid grid-cols-12 gap-4 mt-4">
					<template id="tag-template">
						<div class="col-span-full sm:col-span-6 md:col-span-4 lg:col-span-3 p-2 border rounded-lg">
							<a id = "tag_link" href="" class="flex flex-col items-start">
								<p id = "tag_name" class="tag"></p>
								<div class="flex flex-wrap gap-6 mt-2">
									<p id = "question_count" class="text-gray-500"></p>
									<p id = "article_count" class="text-gray-500"></p>
								</div>
							</a>
						</div>
					</template>
				</div>

				<div id = "more-tags-div">
					<button id = "load-more-tags-button" class="hidden mt-4 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Load more Tags</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
      	var questionButton = document.getElementById('questionButton');
      	var responseButton = document.getElementById('responseButton');
      	var articleButton = document.getElementById('articleButton');
      	var tagButton = document.getElementById('tagButton');

		var question_section = document.getElementById('question_section');
		var response_section = document.getElementById('response_section');
		var article_section = document.getElementById('article_section');
		var tag_section = document.getElementById('tag_section');

		var user_id = {{user_id}};
		var target_user_id = {{target_user_id}};

		var isLoading = false;
		var numToLoad = 5;

		var question_loadComplete = false;
		var question_isLoading = false;
		var question_offset = 0;

		var response_loadComplete = false;
		var response_isLoading = false;
		var response_offset = 0;

		var article_loadComplete = false;
		var article_isLoading = false;
		var article_offset = 0;

		var tag_loadComplete = false;
		var tag_isLoading = false;
		var tag_offset = 0;

		function loadUserInfo() {
	        // Check if an AJAX request is already in progress
	        if (isLoading) {
	            return;
	        }

	        // Set the isLoading flag to true
	        isLoading = true;
	    
	        // Send an AJAX request to fetch user information
	        $.ajax({
	            type: 'POST',
	            url: '/get_profile_info',
	            data: {target_user_id: target_user_id},
	            success: function (data) {
                    display_user_info(data.profile_info, data.followers, data.following);
                    isLoading = false;
	            },
	            error: function(xhr, status, error) {
	                console.error('Error fetching user profile info:', error);
	            }
	        });
	    }

	    // Function to load more questions
	    function loadMoreQuestions() {
	        if (question_loadComplete) {
	            return;
	        } 

	        // Check if an AJAX request is already in progress
	        if (question_isLoading) {
	            return;
	        }

	        document.getElementById('load-more-questions-button').classList.add('hidden');

	        // Set the isLoading flag to true
	        question_isLoading = true;
	        
	        // Determine the current section and its respective offset
	        var currentOffset = question_offset;

	        // Send an AJAX request to fetch more questions
	        $.ajax({
	            type: 'POST',
	            url: '/get_user_questions_activity',
	            data: { target_user_id: target_user_id, num_to_load: numToLoad, offset: currentOffset},
	            success: function (data) {
                    if (data.questions.length < numToLoad) {
                        question_loadComplete = true;
                    }

                    data.questions.forEach(function (question) {
                        // Clone the template and populate it with data
                        var template = document.getElementById("question-template");
                        var clone = document.importNode(template.content, true);

                        // Create the URL with the question_id
                        var question_url = "/question_detail/" + question.question_id + "/";

                        clone.querySelector("#question_link").setAttribute("href", question_url);
                        clone.querySelector("#user_name").textContent = question.user_name;
                        clone.querySelector("#response_counter").textContent = question.response_counter + ' response';
                        clone.querySelector("#question_title").textContent = question.question_title;
                        clone.querySelector("#created_time").textContent = question.created_time;
                        clone.querySelector("#vote_counter").textContent = question.vote_counter + ' vote';
                        clone.querySelector("#user_profile_picture").setAttribute("src", question.picture_url);

                        clone.querySelector("#follow").setAttribute('data-user-id', question.user_id);
                        clone.querySelector("#user_profile_link").setAttribute('href', '/profile/' + question.user_id + '/');

                        var tag_html_content = "";

                        for (tag in question.tags) {
                        	tag_html_content += ("<p class = 'rounded-md py-1 px-2 bg-indigo-400 text-white text-sm'>" + question.tags[tag] + "</p>");
                        }

                        clone.querySelector("#question_tags").innerHTML = tag_html_content;
                        
                        if(question.user_id !== user_id){
                        	if (question.following){
	                        	clone.querySelector("#follow").textContent = 'following';
	                        }
	                        else{
	                        	clone.querySelector("#follow").textContent = 'follow';
	                        }
                        }
                        else{
                        	clone.querySelector("#follow").classList.add('hidden');
                        }
                        

                        if (question.vote_counter > 0) {
                            clone.querySelector("#vote_counter").classList.add('text-green-600');
                        } else if (question.vote_counter < 0) {
                            clone.querySelector("#vote_counter").classList.add('text-red-600');
                        }

                        // Append the populated template to the appropriate container
                        document.getElementById('questions_page').appendChild(clone);
                    });

                    // Update the offset for "For You"
                    question_offset += numToLoad;
                    question_isLoading = false;
	               	
	               	if(question_loadComplete == false){
                    	document.getElementById('load-more-questions-button').classList.remove('hidden');
                    }
                    else{
                    	document.getElementById('no-more-questions').classList.remove('hidden');
                    }
	            }
	        });
	    }

	    // Function to load more questions
	    function loadMoreArticles() {
	        if (article_loadComplete) {
	            return;
	        } 

	        // Check if an AJAX request is already in progress
	        if (article_isLoading) {
	            return;
	        }

	        document.getElementById('load-more-articles-button').classList.add('hidden');

	        // Set the article_isLoading flag to true
	        article_isLoading = true;
	        
	        // Determine the current section and its respective offset
	        var currentOffset = article_offset;

	        // Send an AJAX request to fetch more questions
	        $.ajax({
	            type: 'POST',
	            url: '/get_user_article_activity',
	            data: { target_user_id: target_user_id, num_to_load: numToLoad, offset: currentOffset },
	            success: function (data) {
	            	console.log(data);
                    if (data.articles.length < numToLoad) {
                        article_loadComplete = true;
                    }

                    data.articles.forEach(function (article) {
                        // Clone the template and populate it with data
                        var template = document.getElementById("article-template");
                        var clone = document.importNode(template.content, true);
                        
                        // Create the URL with the article_id
                        var article_url = "/article/" + article.article_id + "/";

                        clone.querySelector("#article_link").setAttribute("href", article_url);
                        clone.querySelector("#user_name").textContent = article.user_name;
                        clone.querySelector("#response_counter").textContent = article.response_counter + ' response';
                        clone.querySelector("#article_title").textContent = article.title;
                        clone.querySelector("#created_time").textContent = article.created_time;
                        clone.querySelector("#vote_counter").textContent = article.vote_counter + ' vote';
						clone.querySelector("#article_description").textContent = article.description;
                        
                        clone.querySelector("#article_thumbnail_image").setAttribute('src', article.thumbnail_url);
                        clone.querySelector("#follow").setAttribute('data-user-id', article.user_id);
                        clone.querySelector("#user_profile_link").setAttribute('href', '/profile/' + article.user_id + '/');

                        clone.querySelector("#user_profile_picture").setAttribute('src', article.picture_url);

                        var tag_html_content = "";

                        for (tag in article.tags) {
                        	tag_html_content += ("<p class = 'rounded-md py-1 px-2 bg-indigo-400 text-white text-sm'>" + article.tags[tag] + "</p>");
                        }

                        clone.querySelector("#article_tags").innerHTML = tag_html_content;
                        
                        if(article.user_id !== user_id){
                        	if (article.following){
	                        	clone.querySelector("#follow").textContent = 'following';
	                        }
	                        else{
	                        	clone.querySelector("#follow").textContent = 'follow';
	                        }
                        }
                        else{
                        	clone.querySelector("#follow").classList.add('hidden');
                        }
                        
                        if (article.vote_counter > 0) {
                            clone.querySelector("#vote_counter").classList.add('text-green-600');
                        } else if (article.vote_counter < 0) {
                            clone.querySelector("#vote_counter").classList.add('text-red-600');
                        }

                        // Append the populated template to the appropriate container
                        document.getElementById('articles_page').appendChild(clone);
                    });

                    article_offset += numToLoad;
                    article_isLoading = false;

                    if(article_loadComplete == false){
		            	document.getElementById('load-more-articles-button').classList.remove('hidden');
		            }
		            else{
		            	document.getElementById('no-more-articles').classList.remove('hidden');
		            }
	            }
	        });
	    }

	    // Function to load more tags
	    function loadMoreTags() {
	        if (tag_loadComplete) {
	            return;
	        } 

	        // Check if an AJAX request is already in progress
	        if (tag_isLoading) {
	            return;
	        }

	        document.getElementById('load-more-tags-button').classList.add('hidden');

	        // Set the tag_isLoading flag to true
	        tag_isLoading = true;
	        
	        // Determine the current section and its respective offset
	        var currentOffset = tag_offset;

	        // Send an AJAX request to fetch more tags
	        $.ajax({
	            type: 'POST',
	            url: '/get_user_tag_activity',
	            data: { target_user_id: target_user_id, num_to_load: numToLoad, offset: currentOffset},
	            success: function (data) {
                    if (data.tags.length < numToLoad) {
                        tag_loadComplete = true;
                    }

                    data.tags.forEach(function (tag) {
                        // Clone the template and populate it with data
                        var template = document.getElementById("tag-template");
                        var clone = document.importNode(template.content, true);

                        var tag_url = "/tag/" + tag.tag_name + "/";

                        clone.querySelector("#tag_link").setAttribute("href", tag_url)
                        clone.querySelector("#tag_name").textContent = tag.tag_name;
                        clone.querySelector("#question_count").textContent = tag.question_count + " Questions";
                        clone.querySelector("#article_count").textContent = tag.article_count + " Articles";

                        
                        // Append the populated template to the appropriate container
                        document.getElementById('tags_page').appendChild(clone);
                    });

                    // Update the offset for "For You"
                    tag_offset += numToLoad;
                    tag_isLoading = false;
	               	
	               	if(tag_loadComplete === false){
		            	document.getElementById('load-more-tags-button').classList.remove('hidden');
		            }
	            }
	        });
	    }

	    // Function to load more responses
	    function loadMoreResponses() {
	    	// Function to load more questions

	        if (response_loadComplete) {
	            return;
	        }

	        if (response_isLoading) {
	            return;
	        }

	        document.getElementById('load-more-response-button').classList.add('hidden');

	        response_isLoading = true;

	        var currentOffset = response_offset;

	        $.ajax({
	            type: 'POST',
	            url: '/get_user_response_activity',
	            data: { target_user_id: target_user_id, num_to_load: numToLoad, offset: currentOffset },
	            success: function (data) {
	                if (data.responses.length < numToLoad) {
	                    response_loadComplete = true;
	                }

	                data.responses.forEach(function (response) {
	                    var template = document.getElementById("response-template");
	                    var clone = document.importNode(template.content, true);
	                    
	                    var question_url = '/question_detail/' + response.question_id + '/';	
	                    clone.querySelector("#question_link_for_response").setAttribute("href", question_url);
	                    clone.querySelector("#question_title_for_response").textContent = response.question_title;

	                    clone.querySelector("#complete_repsonse_block").setAttribute("data-response-id", response.response_id);
	                    clone.querySelector("#response_upvote_button").setAttribute("data-response-id", response.response_id);
	                    clone.querySelector("#response_downvote_button").setAttribute("data-response-id", response.response_id);

	                    clone.querySelector("#user_name").textContent = response.user_name;
	                    clone.querySelector("#response_counter").textContent = response.response_counter + ' comments';
	                    clone.querySelector("#response_text").innerHTML	= response.response_text;
	                    clone.querySelector("#created_time").textContent = response.created_time;
	                    clone.querySelector("#response_vote_counter").textContent = response.vote_counter;
	                    clone.querySelector("#follow").setAttribute('data-user-id', response.user_id);
	                    clone.querySelector("#user_profile_picture").setAttribute("src", response.picture_url);
	                    clone.querySelector("#user_profile_link").setAttribute("href", '/profile/' + response.user_id + '/');
	                    
	                    if(response.my_vote === 1) {
							clone.querySelector("#response_upvote_button").classList.remove('text-gray-800');
							clone.querySelector("#response_upvote_button").classList.add('text-indigo-500');
	                    }
	                    else if(response.my_vote === -1){
							clone.querySelector("#response_downvote_button").classList.remove('text-gray-800');
							clone.querySelector("#response_downvote_button").classList.add('text-indigo-500');
	                    }
	                    
	                    if(response.user_id === 0){
			            	//AI response
			            	clone.querySelector("#user_name").classList.add("text-indigo-500");
			            	clone.querySelector("#follow").classList.add('hidden');
			            	clone.querySelector("#user_profile_picture").classList.add('hidden');
			            }
			            else if(response.user_id !== user_id){
			            	if (response.following){
			                	clone.querySelector("#follow").textContent = 'following';
			                }
			                else{
			                	clone.querySelector("#follow").textContent = 'follow';
			                }
			            }
			           	else{
			            	clone.querySelector("#follow").classList.add('hidden');
			            	clone.querySelector("#delete_response").classList.remove('hidden');
			            	clone.querySelector("#delete_response").setAttribute("href", '/delete_response/' + response.response_id + '/');
			            }

	                    if (response.vote_counter > 0) {
	                        clone.querySelector("#response_vote_counter").classList.add('text-green-600');
	                    } else if (response.vote_counter < 0) {
	                        clone.querySelector("#response_vote_counter").classList.add('text-red-600');
	                    }

	                    document.getElementById('response-list').appendChild(clone);
	                });

	                response_offset += numToLoad;
	                response_isLoading = false;

			        if (response_loadComplete === false){
			    	    document.getElementById('load-more-response-button').classList.remove('hidden');
			        }
			        else{
			        	document.getElementById('no-more-responses').classList.remove('hidden');
			        }
	            }
	        });
	    }

	    function display_user_info(profile_info, followers, following) {
            document.getElementById("profile_picture").setAttribute("src", profile_info.picture_url);
            document.getElementById("user_name").textContent = profile_info.user_name;
            document.getElementById("about").textContent = profile_info.about;
            document.getElementById("badge").textContent = profile_info.badge;
            document.getElementById("joined_on").textContent = "Member since: " + profile_info.account_creation_datetime;
            document.getElementById("followers").textContent = followers + " Followers";
            document.getElementById("following").textContent = following + " Following";

            if(profile_info.user_id !== user_id){
            	document.getElementById("user_follow").setAttribute('data-user-id', profile_info.user_id);

            	if (profile_info.following){
                	document.getElementById("user_follow").textContent = 'Unfollow';
                }
                else{
                	document.getElementById("user_follow").textContent = 'Follow';
                }
            }
	    }

	    function handleResponseVoteClick(event, post_type, up_or_down_vote) {
			if (user_id === -1){
				window.location = "{{url_for('login')}}";
				return;
			}

		    // Extract the response_id from the clicked button's data-response-id attribute
		    var responseId = event.target.getAttribute("data-response-id");

		    var responseContainer = document.querySelector(`[data-response-id="${responseId}"]`);
		    var voteCounter = responseContainer.querySelector("#response_vote_counter");
		    var up_vote_button = responseContainer.querySelector("#response_upvote_button");
		    var down_vote_button = responseContainer.querySelector("#response_downvote_button");

		    // Make a POST request to up-vote the response with the responseId
		    $.ajax({
		        type: 'POST',
		        url: '/vote_unvote',
		        data: { response_id: responseId, post_type: post_type, up_or_down_vote : up_or_down_vote},
		        success: function (data) {

		        	console.log("Vote click response!")
		        	console.log(data);

		        	voteCounter.innerText = data.vote_count;
		        	const my_vote = data.my_vote;

		        	if (my_vote === 0){
		        		up_vote_button.classList.remove('text-indigo-500');
		        		down_vote_button.classList.remove('text-indigo-500');

		        		up_vote_button.classList.add('text-gray-800');
		        		down_vote_button.classList.add('text-gray-800');
		        	}
		        	else if (my_vote === 1){
		        		up_vote_button.classList.remove('text-gray-800');
		        		
		        		up_vote_button.classList.add('text-indigo-500');
		        		down_vote_button.classList.remove('text-indigo-500');
		        	}
		        	else{
		        		down_vote_button.classList.remove('text-gray-800');

						up_vote_button.classList.remove('text-indigo-500');
		        		down_vote_button.classList.add('text-indigo-500');
		        	}

		        	if (data.vote_count > 0) {
		        		voteCounter.classList.remove('text-red-600');
		        		voteCounter.classList.add('text-green-600');
		        	}
		        	else if (data.vote_count < 0){
		        		voteCounter.classList.add('text-red-600');
		        		voteCounter.classList.remove('text-green-600');
		        	}
		        	else {
		        		voteCounter.classList.remove('text-red-600');
		        		voteCounter.classList.remove('text-green-600');
		        	}
		        }
		    });   
		}

		function handleFollow(event) {
        	if (user_id === -1){
				window.location = "{{url_for('login')}}";
				return;
			}
			
	    	const followed_user_id = event.target.getAttribute('data-user-id');

    		$.ajax({
		        type: 'POST',
		        url: '/follow_unfollow',
		        data: { followed_user_id: followed_user_id },
		        success: function (data) {
		        	event.target.textContent = data.status;
		        }
		    });
	    }

	    loadUserInfo();

	    questionButton.classList.add('font-bold');
		question_section.style.display = 'block';
		
		loadMoreQuestions();
		loadMoreArticles();
		loadMoreResponses();
		loadMoreTags();

		response_section.style.display = 'none';
		article_section.style.display = 'none';
		tag_section.style.display = 'none';

	    document.addEventListener('click', function(event) {
	    	if (event.target.id === 'questionButton'){	  
	    		questionButton.classList.add('font-bold');
				responseButton.classList.remove('font-bold');
				articleButton.classList.remove('font-bold');
				tagButton.classList.remove('font-bold');

				question_section.style.display = 'block';
				response_section.style.display = 'none';
				article_section.style.display = 'none';
				tag_section.style.display = 'none';
	    	
	    	}
	    	else if (event.target.id === 'responseButton'){	  
	    		questionButton.classList.remove('font-bold');
				responseButton.classList.add('font-bold');
				articleButton.classList.remove('font-bold');
				tagButton.classList.remove('font-bold');

				question_section.style.display = 'none';
				response_section.style.display = 'block';
				article_section.style.display = 'none';
				tag_section.style.display = 'none';
	    	
	    	}
	    	else if (event.target.id === 'articleButton'){
	    		questionButton.classList.remove('font-bold');
				responseButton.classList.remove('font-bold');
				articleButton.classList.add('font-bold');
				tagButton.classList.remove('font-bold');

				question_section.style.display = 'none';
				response_section.style.display = 'none';
				article_section.style.display = 'block';
				tag_section.style.display = 'none';
	    	}
	    	else if (event.target.id === 'tagButton'){
	    		questionButton.classList.remove('font-bold');
				responseButton.classList.remove('font-bold');
				articleButton.classList.remove('font-bold');
				tagButton.classList.add('font-bold');

				question_section.style.display = 'none';
				response_section.style.display = 'none';
				article_section.style.display = 'none';
				tag_section.style.display = 'block';
	    	
	    	}

	    	if (event.target.id === 'load-more-questions-button') {
	    		loadMoreQuestions();
	    	}

	    	if (event.target.id === 'load-more-articles-button') {
	    		loadMoreArticles();
	    	}

	    	if (event.target.id === 'load-more-tags-button') {
	    		loadMoreTags();
	    	}

	    	if (event.target.id === 'load-more-response-button') {
	    		loadMoreResponses();
	    	}

	    	if (event.target.id === 'response_upvote_button') {
		        handleResponseVoteClick(event, 'response', 'up');
		    }

		    if (event.target.id === 'response_downvote_button') {
		        handleResponseVoteClick(event, 'response', 'down');
		    }

		    if (event.target.id === 'follow' || event.target.id === 'user_follow') {
	    		handleFollow(event);
	    	}

	    });
	</script>
	
{% endblock %}