{% extends 'base.html' %}

{% block title %}QUICK MINDS - PROFILE PAGE{% endblock %}

{% block content %}
	<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
		<div id="lower" class="grow py-3 px-3 rounded-t-lg">

			<div class="sm:flex gap-4 items-center justify-between">
				<div class="flex gap-4 items-center">
					<img id = "profile_picture" src="" class="rounded-full h-20">
					<div>
						<h1 id = "user_name"></h1>
						<p id = "about" class="text-gray-500"></p>
						<p id = "joined_on" class="text-gray-500"></p>
						<div class="flex gap-4">
							<p id = "followers"></p>
							<p id = "following"></p>
						</div>
						<button id = "follow" data-user-id = "">
							Follow
						</button>
					</div>
				</div>
				<p id = "badge"></p>
			</div>

			<hr class="my-4">

			<div id = "section-buttons" class="hidden flex flex-wrap gap-4 justify-between items-center">
		        <button id="questionButton">Questions</button>

		        <span
		          aria-hidden="true"
		          class="block h-4 w-px rounded-full bg-gray-900"
		        ></span>

		        <button id="responseButton">Responses</button>

		        <span
		          aria-hidden="true"
		          class="block h-4 w-px rounded-full bg-gray-900"
		        ></span>

		        <button id="articleButton">Articles</button>

		        <span
		          aria-hidden="true"
		          class="block h-4 w-px rounded-full bg-gray-900"
		        ></span>

		        <button id="tagButton">Tags</button>
		    </div>
		</div>

		<div class="hidden">
			<div id = "question_section">
				<p> question_section </p>
			</div>

			<div id = "response_section">
				<p> response_section </p>
			</div>

			<div id = "article_section">
				<p> article_section </p>
			</div>

			<div id = "tag_section">
				<p> tag_section </p>
			</div>
		</div>


	</div>

	<script type="text/javascript">
      	var questionButton = document.getElementById('questionButton');
      	var responseButton = document.getElementById('responseButton');
      	var articleButton = document.getElementById('articleButton');
      	var tagButton = document.getElementById('tagButton');

		var question_section = document.getElementById('question_section');
		var response_section = document.getElementById('response_section');
		var article_section = document.getElementById('article_section');
		var tag_section = document.getElementById('tag_section');

		var isLoading = false;
		var user_id = {{user_id}};

		function loadUserInfo() {
	        // Check if an AJAX request is already in progress
	        if (isLoading) {
	            return;
	        }

	        // Set the isLoading flag to true
	        isLoading = true;
	    
	        // Send an AJAX request to fetch user information
	        $.ajax({
	            type: 'POST',
	            url: '/profile',
	            success: function (data) {
                    display_user_info(data.profile_info, data.followers, data.following);
                    isLoading = false;
	            },
	            error: function(xhr, status, error) {
	                console.error('Error fetching user profile info:', error);
	            }
	        });
	    }

	    function display_user_info(profile_info, followers, following) {
            document.getElementById("profile_picture").setAttribute("src", profile_info.picture_url);
            document.getElementById("user_name").textContent = profile_info.user_name;
            document.getElementById("about").textContent = profile_info.about;
            document.getElementById("badge").textContent = profile_info.badge;
            document.getElementById("joined_on").textContent = "Member since: " + profile_info.account_creation_datetime;
            document.getElementById("followers").textContent = followers + " Followers";
            document.getElementById("following").textContent = following + " Following";

            if(profile_info.user_id !== user_id){
            	document.getElementById("follow").setAttribute('data-user-id', profile_info.user_id);

            	if (user_id.following){
                	document.getElementById("follow").textContent = 'following';
                }
                else{
                	document.getElementById("follow").textContent = 'follow';
                }
            }
            else{
            	document.getElementById("follow").classList.add('hidden');
            }
	    }

	    loadUserInfo();

	    document.addEventListener('click', function(event) {
	    	if (event.target.id === 'questionButton'){	  
	    		questionButton.classList.add('font-bold');
				responseButton.classList.remove('font-bold');
				articleButton.classList.remove('font-bold');
				tagButton.classList.remove('font-bold');

				question_section.style.display = 'block';
				response_section.style.display = 'none';
				article_section.style.display = 'none';
				tag_section.style.display = 'none';
	    	
	    	}
	    	else if (event.target.id === 'responseButton'){	  
	    		questionButton.classList.remove('font-bold');
				responseButton.classList.add('font-bold');
				articleButton.classList.remove('font-bold');
				tagButton.classList.remove('font-bold');

				question_section.style.display = 'none';
				response_section.style.display = 'block';
				article_section.style.display = 'none';
				tag_section.style.display = 'none';
	    	
	    	}
	    	else if (event.target.id === 'articleButton'){
	    		questionButton.classList.remove('font-bold');
				responseButton.classList.remove('font-bold');
				articleButton.classList.add('font-bold');
				tagButton.classList.remove('font-bold');

				question_section.style.display = 'none';
				response_section.style.display = 'none';
				article_section.style.display = 'block';
				tag_section.style.display = 'none';
	    	}
	    	else if (event.target.id === 'tagButton'){
	    		questionButton.classList.remove('font-bold');
				responseButton.classList.remove('font-bold');
				articleButton.classList.remove('font-bold');
				tagButton.classList.add('font-bold');

				question_section.style.display = 'none';
				response_section.style.display = 'none';
				article_section.style.display = 'none';
				tag_section.style.display = 'block';
	    	
	    	}
	    });

	    questionButton.classList.add('font-bold');

		question_section.style.display = 'block';
		response_section.style.display = 'none';
		article_section.style.display = 'none';
		tag_section.style.display = 'none';

	</script>
	
{% endblock %}