{% extends 'base.html' %}

{% block title %}WRITE ARTICLE{% endblock %}

{% block content %}
	<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">

		<form method="post" enctype = "multipart/form-data">

		  <div class="space-y-8">
		    <div class="border-b border-gray-900/10 pb-12">
		      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
		        <div class="col-span-full">
		          <div class="mt-2">
		            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
		              <input type="text" name="article-title" id="article-title" class="block flex-1 border-0 bg-transparent py-1.5 pl-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Title" required>
		            </div>
		          </div>
		        </div>

		        <div class="col-span-full">
		          <div class="mt-2">
		            <textarea id="article-contents" name="article-contents" rows="10" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder = "share your article..." required></textarea>
		          </div>
		          <div class="flex items-center gap-2 mt-2">
		          	<svg class="h-5 w-5 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
			            <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
			        </svg>
			        <label for="file-upload" class="cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
			            <span id = "add-image-text">Add Image</span>
			            <input id="file-upload" name="file-upload" type="file" class="sr-only" accept=".png, .jpg, .jpeg, .gif">
		            </label>
		          </div>
		        </div>


				<div class="sm:col-span-4">
		          <div class="mt-2">
		            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
		              <input type="text" name="article-tags" id="article-tags" class="block flex-1 border-0 bg-transparent py-1.5 pl-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Tags: article, story, python...">
		            </div>
		          </div>
		        </div>

		      </div>
		    </div>
		  </div>

		  <div class="mt-6 flex items-center justify-end gap-x-6">
			    <button type="button" class="text-sm font-semibold leading-6 text-gray-900" onclick="goBack()">Cancel</button>
			    <button id = "article-submission-button" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Publish Article</button>
		  </div>

		</form>
	</div>
	
	<script>
		document.getElementById('sidebar-component-div').classList.add('hidden');

        const fileInput = document.getElementById('file-upload');
    
        fileInput.addEventListener('change', function () {
            const file = fileInput.files[0];
            if (file) {
            	
            	if(file.size > 2097152){
			       alert("Image size is greater than 2MB!");
			       fileInput.value = "";
			       return;
			    }

                const reader = new FileReader();
                reader.onload = function (e) {
                	
                	const formData = new FormData();
                	formData.append("image", fileInput.files[0]);

                	//update the text of button to display adding image and make the button inactive
                	document.getElementById('file-upload').disabled = true;
                	document.getElementById('add-image-text').innerText = 'Adding image to response...';
                	document.getElementById('article-submission-button').disabled = true;
                	document.getElementById('article-submission-button').innerText = 'Uploading Image';
                	
                	// Make an AJAX request to the Flask server
	                fetch('/upload_image', {
	                    method: 'POST',
	                    body: formData
	                })
	                .then(response => response.json())
	                .then(data => {
	                    const imageUrl = data.url;
	                    const imageMarkdown = `![Alt Text](${imageUrl})`;
	                    const markdownInput = document.getElementById("article-contents");
	                    markdownInput.value += imageMarkdown;

	                    //on success revert back the text on "add image button" and make it active
                		document.getElementById('file-upload').disabled = false;
                		document.getElementById('add-image-text').innerText = 'Add Image';
                		document.getElementById('article-submission-button').disabled = false;
                		document.getElementById('article-submission-button').innerText = 'Publish Article';
	                })
	                .catch(error => {
	                    console.error('Error uploading image:', error);

	                    //on success revert back the text on "add image button" and make it active
                		document.getElementById('file-upload').disabled = false;
                		document.getElementById('add-image-text').innerText = 'Add Image';
                		document.getElementById('article-submission-button').disabled = false;
                		document.getElementById('article-submission-button').innerText = 'Publish Article';
	                });
                };
                reader.readAsDataURL(file);
            } 
        });

        function goBack() {
            window.history.back();
        }
    </script>

{% endblock %}